@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "EditWriter";
    Layout = "~/Views/Shared/_masterPage.cshtml";
}

<h2>Yazar Düzenle</h2>
<br />
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
{
<div class=" col-sm-9  ">
    <div class="form-group ">

        @Html.Label("Yazar ID")
        @Html.TextBoxFor(x => x.WriterId, new { @class = "form-control" })

        <br />
        @Html.Label("YazarAdı")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
        <br />
        @Html.Label("Yazar Mail")
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterMail)
        <br />
        @Html.Label("Yazar Şifre")
        @Html.TextBoxFor(x => x.writerPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerPassword)
        <br />
        @Html.Label("Yazar görsel Linki")
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br />
        @Html.Label("Yazar Unvan")
        @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterTitle)
        <br />
        @Html.Label("Yazar hakkında")
        @Html.TextAreaFor(x => x.writerAbout, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.writerAbout)
        <br />
        <button class="btn btn-primary"> Değişiklikleri Uygula</button>

    </div>
</div>
  
   
}


