@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_masterPage.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>

<button class="btn btn-primary " data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>
<br/><br />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Numarası</th>
                            <th>hakkında Yazıların Başlıkları</th>
                            <th>hakkında Yazıların Başlıkları 2</th>
                            <th>Görsel 1</th>
                            <th>Görsel 2</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AboutId</td>
                            <td>@item.AboutDetails1.Substring(0,30)...</td>
                           
                            <td>@item.AboutDetails2.Substring(0,30)...</td>
                            <td><img alt="Avatar" class="table-avatar" src="@item.AboutImage1" /> </td>
                            <td><img alt="Avatar" class="table-avatar" src="@item.AboutImage2" /></td>
                            
                        </tr>
                    }
                   

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


@Html.Action("AboutPartial","About")