@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<h1>Yeni kategory Ekleme sayfası</h1>
<br/>

@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x=>x.CategoryName)
        @Html.ValidationMessageFor(x=>x.CategoryName)
        <br/><br/>
        @Html.Label("Açıklamayı yazın")
        @Html.TextBoxFor(x=>x.CategoryDescription)
        @Html.ValidationMessageFor(x=>x.CategoryDescription)
        <br/><br/>
        <button> Kategori Ekle</button>
    </div>
}


@*<form class="form-group" method="post">
    <input type="text" class="text-primary" name="CategoryName" placeholder="Kategori Adı">
    <br />
    <input type="text" class="text-primary" name="CategoryDescription" placeholder="Kategori Açıklama">
    <br />
    <button class="btn btn-primary">Ekle</button>

</form>*@

